*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #eaeaea;
    font: 16px/28px arial, sans-serif;
    color: #333333;
}
.container{
    width: 800px;
    margin: auto;
    background-color: white;
}
.header{
    padding: 20px;
    padding-bottom: 8px;
}
.header img{
    width: 40px;
}
.header .judul{
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    margin-left: 10px;
}
.header ul li{
    display: inline-block;  
    margin-top: 10px; 
    margin-right: 10px;
}
.header a{
    text-decoration: none;
    color: salmon;
    padding: 3px;
}
.header a:hover{
    background-color: lightskyblue;
    color: white;
}

.hero{
    height: 280px;
    background-image: url(gambar/hero.jpeg);
    background-size: cover;
    background-position: 0 -150px;
    border-top: 5px solid salmon;
    border-bottom: 5px solid lightskyblue;
}
.content{
    padding: 20px;
}
.content h2{
    font-size: 28px;
    font-weight: bold;
}
.content .penulis{
    font-size: 11px;
    margin-top: -5px;
    text-indent: 0px;
}
.content .penulis a{
    color: salmon;
    text-decoration: none;
}
.content p{
    margin-bottom: 20px;
    font-size: 14px;
    text-align: justify;
    text-indent: 25px;
}
.footer{
    background-color: #333333;
}
.footer .copy{
    color: #eaeaea;
    text-align: center;
    font-size: 12px;
    padding:8px;
}














